requests==2.20.0
dash_gif_component==1.0.2
numpy==1.13.3
dash_bootstrap_components==0.9.1
matplotlib==2.1.0
pandas_market_calendars==1.4.2
pmdarima==1.5.2
dash_core_components==1.8.1
dash==1.9.1
ta==0.5.11
pandas==0.25.3
dash_html_components==1.0.2
dash_table==4.6.1
newsapi_python==0.2.6
plotly==4.1.1
seaborn==0.9.0
statsmodels==0.9.0
dash_daq==0.4.0
newsapi>=0.0.1
scikit_learn==0.21.2
